{% extends 'main/layout.html' %}

{% block title %}create{% endblock %}

{% block content %}
   <div class="features">
       <h1>Create article</h1>
       <form method="post">
           {% csrf_token %}
           {{ form.title }}<br>
           {{ form.anons }}<br>
           {{ form.full_text }}<br>
           {{ form.date }}<br>
           <span>{{ error }}</span>
           <input type="submit" class="btn btn-success" value="Add article">
       </form>
   </div>
{% endblock %}

